<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="student">
      <h2 data-cy="studentDetailsHeading"><span jhiTranslate="smApp.student.detail.title">Student</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ student.id }}</span>
        </dd>
        <dt><span jhiTranslate="smApp.student.name">Name</span></dt>
        <dd>
          <span>{{ student.name }}</span>
        </dd>
        <dt><span jhiTranslate="smApp.student.email">Email</span></dt>
        <dd>
          <span>{{ student.email }}</span>
        </dd>
        <dt><span jhiTranslate="smApp.student.dob">Dob</span></dt>
        <dd>
          <span>{{ student.dob | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="smApp.student.gender">Gender</span></dt>
        <dd>
          <span jhiTranslate="{{ 'smApp.Gender.' + student.gender }}">{{ student.gender }}</span>
        </dd>
        <dt><span jhiTranslate="smApp.student.passed">Passed</span></dt>
        <dd>
          <span>{{ student.passed }}</span>
        </dd>
        <dt><span jhiTranslate="smApp.student.department">Department</span></dt>
        <dd>
          <div *ngIf="student.department">
            <a [routerLink]="['/department', student.department.id, 'view']">{{ student.department.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/student', student.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
